@{
    ViewData["Title"] = "Contáctanos";
}
<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-lg-3">
        <h4>Oficina Principal</h4>
        <p>Uepa Tickets Bella Vista Mall</p>
        <p>
            Avenida Sarasota Esq. Arrayanes,
            3er. Nivel, Local 12C, Santo Domingo.
        </p>
        <p>Teléfono: 809-620-8372</p>
    </div>
    <div class="col-lg-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1892.3610904173809!2d-69.95125170694399!3d18.45091904241812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea5620fdde26cbb%3A0x59c4dbb0b06a0e2f!2sUepa!5e0!3m2!1ses-419!2sdo!4v1678344297360!5m2!1ses-419!2sdo" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="btn-group" role="group">
        <a class="links" href="mailto:contacto@uepa.com">
            <span class="">Escribenos</span>
        </a>
        <a class="links" href="@Url.Action("Home","Index")">
            <span class="">Puntos de Ventas</span>
        </a>
    </div>
</div>
