
<div class="list-group w-100">
    <div class="list-group-item">
        <h4 class="my-3">Puntos de Ventas</h4>
        <p class="small my-0 text-muted">Activar GPS haciendo clic en el icono.</p>
    </div>
    <div class="list-group-item">
        <div class="row">
            <div class="col-md-6 col-xs-12 pv-magin">
                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                            <i class="fa-solid fa-location-dot"></i>
                        </a>
                    </div>
                    <div class="col-md-11 col-xs-10">
                        <div class="pv-title">Uepa Tickets Bella Vista Mall</div>
                        <div class="item-teaser">Av, Sarasota esq, Arrayanes, 3er, Nivel Local 12C, Sto Dgo.</div>
                        <div class="item-phone">809-620-8372</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 pv-magin">
                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                            <i class="fa-solid fa-location-dot"></i>
                        </a>
                    </div>
                    <div class="col-md-11 col-xs-10">
                        <div class="pv-title">En CCN Servicios Nacional Máximo Gomez</div>
                        <div class="item-teaser">Av. Máximo Gomez Esq. Ramón Santana..</div>
                        <div class="item-phone">809-688-4452</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-6 col-xs-12 pv-magin">
                <div class="row">
                    <div class="col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>                     
                    </div>
                    <div class="col-md-11 col-xs-10">
                        <div class="pv-title">En CCN Servicios Jumbo Moca</div>
                        <div class="item-teaser">Avenida Agricultores Esq. Antonio de la Maza</div>
                        <div class="item-phone">809-557-7224</div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Jumbo Bávaro</div>
                        <div class="item-teaser">Av. Bacerló km 38 Esq. Boulevard Turistica del Este.</div>
                        <div class="item-phone">809-455-7188</div>
                    </div>
                </div>
            </div>
             <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Jumbo Bávaro</div>
                        <div class="item-teaser">Av. Bacerló km 38 Esq. Boulevard Turistica del Este.</div>
                        <div class="item-phone">809-455-7188</div>
                    </div>
                </div>
            </div>
             <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Jumbo Higüey</div>
                        <div class="item-teaser">Av. La Altagracia Esq. Calle San Pedro.</div>
                        <div class="item-phone">809-554-6960</div>
                    </div>
                </div>
            </div>
             <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional Arroyo Hondo</div>
                        <div class="item-teaser">Av. Camino Chiquito Esq. Reyes Católicos, Ens. Arroyo Hondo.</div>
                        <div class="item-phone">809-566-9058</div>
                    </div>
                </div>
            </div>
             <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Jumbo Bávaro</div>
                        <div class="item-teaser">Av. Bacerló km 38 Esq. Boulevard Turistica del Este.</div>
                        <div class="item-phone">809-455-7188</div>
                    </div>
                </div>
            </div>
             <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional Punta Cana</div>
                        <div class="item-teaser">Ave. Aeropuerto Internacional Punta Cana, Plaza Boullevard Suite.</div>
                        <div class="item-phone">809-959-3000</div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional Punta Cana</div>
                        <div class="item-teaser">Ave. Aeropuerto Internacional Punta Cana, Plaza Boullevard Suite.</div>
                        <div class="item-phone">809-959-3000</div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional Conde</div>
                        <div class="item-teaser">Calle el Conde Esq. Av. Duarte. Ciudad Colonial</div>
                        <div class="item-phone">809-959-3000809-221-2224</div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional Independencia</div>
                        <div class="item-teaser">Ave. Independencia Km. 9 1Ž2</div>
                        <div class="item-phone">809-533-0979</div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional 27 de Febrero</div>
                        <div class="item-teaser">Av. 27 de Febrero Esq. Abraham Lincoln</div>
                        <div class="item-phone">809-565-5541</div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional El Millon</div>
                        <div class="item-teaser">Av. Nuñez de Caceres Esq. Guarocuya, Ens. El Millon</div>
                        <div class="item-phone">809-549-4726</div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional Lope de Vega</div>
                        <div class="item-teaser">Av. Lope de Vega no. 98</div>
                        <div class="item-phone">809-227-2144</div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 col-xs-12 pv-magin">
                <div class = "row">
                    <div class = "col-md-1 col-xs-2">
                        <a target="_blank" href="#">
                           <i class="fa-solid fa-location-dot"></i>
                        </a>  
                    </div>
                    <div class = "col-md-11 col-xs-10"> 
                        <div class="pv-title">En CCN Servicios Nacional Sarasota</div>
                        <div class="item-teaser">Av. Sarasota, Bella Vista Mall</div>
                        <div class="item-phone">809.255.0998</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
